* {
    box-sizing: border-box;
}

/* NAVBAR */
#mainNav {
  min-height: 3.5rem;
  background-color: #fff;
}
#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #64a19d;
  border: 1px solid #64a19d;
}
#mainNav .navbar-toggler:focus {
  outline: none;
}
#mainNav .navbar-brand {
  color: #000;
  font-weight: 700;
  padding: 0.9rem 0;
}
#mainNav .navbar-nav .nav-item:hover {
  outline: none;
  background-color: transparent;
}
#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}
@media screen and (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    padding: 0.5rem 0;
    color: rgba(255, 255, 255, 0.5);
  }
  #mainNav .nav-link {
    transition: none;
    padding: 2rem 1.5rem;
    color: rgba(255, 255, 255, 0.5);
  }
  #mainNav .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
  }
  #mainNav .nav-link:active {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #000;
  }
  #mainNav.navbar-shrink .nav-link {
    color: #000;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: #64a19d;
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: #467370;
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: #64a19d;
    outline: none;
    border-bottom: 0.25rem solid #64a19d;
  }
}


/* CLASSES */
.body-font-12 {
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 18px;
}

.contenu-page {
  width: 100%;
  position: absolute;
  top: 100%;
}

.text-home {
  position: absolute;
  top: 37.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
}

.text-box {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
}
.text-box h1 {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 90px;
}
.text-box h3 {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 30px;
}


/* MEDIA QUERRIES */
@media screen and (max-width: 900px) {
  .accueil-resp {
    display: none;
  }
  .contenu-page {
    margin-top: 7%;
  }
}

@media screen and (max-width: 1800px) {
  .contenu-page {
    width: 100%;
    position: absolute;
    top: auto;
  }
}

@media screen and (max-width: 1000px) {
    .contenu-top {
        position:absolute;
        top: 6%;
        left:0;
        width:100%;
    }    
}

.article_produit {
  margin: 5%;
  width: 33%;
}
.article_produit:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Connexion */
.body-connexion {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  background: url(../../media/images/bg.jpg);
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(2px);
}

.form-connexion {
  background: transparent;
  width: 25%;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 1vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  backdrop-filter: blur(15px);
}

.form-connexion fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.form-connexion label {
  display: block;
  margin-bottom: 10px;
}

.form-connexion .input-box {
  width: 100%;
  position: relative;
  margin: 10px 0;
  width: 310px;
  border-bottom: 2px solid #fff;
}

.form-connexion .input-box input[type="text"],
.form-connexion .input-box input[type="password"] {
  width: 100%;
  padding: 3%;
  border-radius: 3px;
  background: transparent;
  border: none;
  outline: none;
}

.form-connexion input[type="submit"] {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 2em;
  cursor: pointer;
}

.form-connexion input[type="submit"]:hover {
  background-color: #45a049;
}

#back-connexion {
  width: 100%;
  position: relative;
}